<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类列表</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div id="vue_det">
        <P></P>
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#vue_det',
        data() {
            return {
              info: null
            }
        },
         mounted () {
            axios
              .post('http://127.0.0.1:8080/top/create_top_type',{
                top_type_name: 'Fred',        // 参数 top_type_name
              })
              .then(response => (this.info = response))
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
          }
    })
</script>
</html>