<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识搜索</title>
    <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
    <style>
        .inputs {
            width: 50%;
        }
    </style>

</head>
<body>
<div id="app" style="margin-top: 10%;text-align: center">
    <div>
         <img src="static/image/logo/zwy1.png">
    </div>
    <el-input placeholder="请输入要搜索的内容" v-model="input" class="inputs">
        <el-button slot="append" icon="el-icon-search"></el-button>
    </el-input>
    <div style="margin-top: 1%;">
        <div v-for="subItem in logList1" style="margin:0 auto; width:30%;background-color: #F2F6FC;">
            <span>{[ subItem.fields.text ]}</span>
            <el-divider></el-divider>
        </div>
    </div>
</div>
</body>
<script>
    let app1 = new Vue({
        el: '#app',
        delimiters: ['{[', ']}'],
        data: {
            input: '',
            logList1:[]
        },
        mounted() {
            axios.post('/log_info/log_list')
                .then(response => {
                    if (response.data.code == 1) {
                        this.logList1 = response.data.data
                    }
                })
                .catch(function (error) {
                    alert('error')
                });
        },
    })
</script>
</html>