<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识搜索</title>
    <link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
    <style>
        .inputs {
            width: 50%;
        }
    </style>

</head>
<body>
<div id="app" style="margin-top: 10%;text-align: center">
    <div>
         <img src="static/image/logo/zwy1.png">
    </div>
    <el-input placeholder="请输入要搜索的内容" v-model="input" class="inputs">
        <el-button slot="append" icon="el-icon-search"></el-button>
    </el-input>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['{[', ']}'],
        data: {
            input: ''
        }
    })
</script>
</html>